body {
    margin: auto 0;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

section {
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}


h3 {
    font-size: 32px;
    font-weight: 400;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}

p {
    line-height: 200%;
}

button {
    color: white;
    background-color: #CCADAD;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }


.spacing {
    margin: 70px;
}

#menu_shadow {
    bottom: 1px;
    box-shadow: 0px 0px 8px 2px ;
    color: rgb(220, 210, 226);
}

#header {
    display: flex;
    width: 1243px;
    color: black;
    padding: 16px 0px 16px 0px;
}

#logo {
    width: 49px;
    vertical-align: middle;
}

#main-title {
    margin-top: 100px;
    text-align: center;
}

#menu {
    margin-left: auto;
    margin-right: 0;
}

#menu li {
   float: left;
   width: auto;
   list-style: none;
   font-weight: bold;
}

.padding-right {
    padding-right: 28px;
}

#menu img {
    height: 25px;
    padding-right: 5px;
    vertical-align: middle;
}


.selected {
    text-decoration: underline;
    text-underline-offset: 7px;
}

#hero-image {
    width: auto;
    height: 469px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#hero-image ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#hero-image li {
    float: left;
    list-style: none;

}

#hero-image li:nth-child(odd) img {
    margin-top: 34px;

}

#hero-image li:nth-child(even) img {
    margin-left: 24px;
    margin-right: 24px;
}

#hero-image img {
    width: 392px;
    height: 432px;
}

.small-section {
    width: 800px;
    display: flex;
}

.small-section h3 {
    width: 240px;
}

#who-we-are p {
    margin-left: 120px;
}

#our-credo p {
    width: 390px;
    margin-right: 130px;
}

#our-credo img {
    height: 496px;
    width: 592px;
 }


/* Insta-feed section */

#insta-feed {
     margin: auto;
     text-align: center;   
}

#insta-feed p {
    
}

#insta-feed img{
    height: 242px;
    width: 242px;
}

.ig-padding {
    padding-right: 10px;
}




/* questions section */

#have-question form {
    margin-left: 124px;
}

input, textarea {
    width: 380px;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
    background-color: #f3f3f3;
    border: none;
}
