body {
    margin: auto 0;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

section {
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}


h3 {
    font-size: 32px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}

p {
    line-height: 200%;
}

/* button {
    color: white;
    background-color: #CCADAD;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  } */

.spacing {
    margin: 130px;
}

.spacing-small {
    margin: 50px;
}

.home-page_button {
    color: white;
    background-color: #CCADAD;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu_shadow {
    /* position: fixed;
    top: 0;
    width: 100%; */
    bottom: 5px;
    box-shadow: 0px 0px 8px 2px ;
    color: rgb(220, 210, 226);
}

#header {
    display: flex;
    width: 1243px;
    color: black;
    padding: 16px 0px 16px 0px;
    background-color: white;
}

#logo {
    width: 49px;
    vertical-align: middle;
}

#menu {
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    padding-right: 16px;
}    

#menu li {
   float: left;
   width: auto;
   list-style: none;
   font-weight: bold;
}

.padding-right {
    padding-right: 50px;
}

#menu img {
    height: 25px;
    padding-right: 5px;
    vertical-align: middle;
}

.selected {
    text-decoration: underline;
    text-underline-offset: 7px;
}

#main-title {
    margin-top: 130px;
    text-align: center;
}

#main-title p {
    margin-bottom: 30px;
}

#hero-image {
    width: auto;
    height: 469px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#hero-image ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#hero-image li {
    float: left;
    list-style: none;
}

#hero-image li:nth-child(odd) img {
    margin-top: 34px;
}

#hero-image li:nth-child(even) img {
    margin-left: 24px;
    margin-right: 24px;
}

#hero-image img {
    width: 392px;
    height: 432px;
}

.small-section {
    width: 1024px;
    display: flex;
}

.small-section h3 {
    width: 240px;
}

.small-section h4 {
    margin-bottom: 0px;
}

/*who we are section */

.about-us h1 {
    width: 50%;
    margin-top: 20px;
}

.about-us p {
    width: 50%;
    padding-top: 40px;
}

 /* Credo section */

#our-credo h4 {
    margin-top: 80px;
}

#our-credo h1  {
    margin-top: 20px;
    margin-bottom: 20px;
}
#our-credo p {
    width: 390px;
    margin-right: 130px;
}

#our-credo img {
    height: 496px;
    width: 592px;
 }


/* Insta-feed section */

#insta-feed {
     margin: auto;
     text-align: center;   
}

#insta-feed h3 {
    margin-bottom: 60px;
}

#insta-feed img{
    height: 242px;
    width: 242px;
    margin-bottom: 45px;
}

.ig-padding {
    padding-right: 13px;
}

/* questions section */

#have-question h1 {
    width: 400px;
    margin-top: 0;
}

#have-question form {
    margin-left: 50px;
}

input, textarea {
    width: 90%;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
    background-color: #f3f3f3;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* footer image section */

#footer-img img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/*footer */

.small-col {
    width: 25%;
}

.large-col {
    width: 50%;
}

#footer {
    margin-bottom: 70px;
}

#footer h2 {
    margin-bottom: 10px;
}

#footer p {
    font-size: 14px;
    margin: 0;
    line-height: 190%;
}

#footer img {
    height: 20px;
    margin-right: 20px; 
}
