.wide-section {
  width: 1225px;
}

#its-easy {
  margin-top: 70px;
}

#its-easy h1 {
  width: 60%;
}

/* sorting dropdown section */

#sorting-menu form {
  width: 100%;
  text-align: right;
  color: rgb(117, 117, 117);
}

#sorting-menu form:hover, select:hover {
  color: navy;
  transition: 0.2s;
  cursor: pointer;
}

#sorting-menu label {
  text-transform: uppercase;
}

select {
  width: 18px;
  border: none;
  font-weight: 400;
  color: rgb(117, 117, 117)
}

/* Product Cards section */

#products {
  width: 1250px;
}

.product-cards {
  width: 292px;
  box-shadow: 0 5px 5px 0  rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 8px;
}

.product-cards img {
  height: 292px;
  width: 292px;
  object-fit: cover;
  margin-bottom: 16px
}

.product-cards img:hover {
  opacity: 0.3;
  filter: blur(5px);
  transition: 0.2s;
}

.product-card-button {
  display: none;
}

.product-cards img:hover + .product-card-button, .product-card-button:hover {
  display: inline-block;
}

.product-cards p {
  margin: 0;
  line-height: 130%;
  padding-left: 16px;
}

.item-name {
  font-weight: 600;
}

.card-spacing {
  margin: 20.8px;
}

.item-price-padding {
  padding-bottom: 19.2px;
}


