body {
  font-family: Arial, Helvetica, sans-serif;
}

.div-table {
  display: table;
  flex-direction: row;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: center;
  width: 100%;
}

.headingrow, .tablerow {
  display: flex;
}

.odd-row {
  background-color: gray;
}

.column {
  float: left;
  display: table-column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headingrow, .col-bold {
  font-weight: bold;
}

.col20 {
  width: 20%;
}

.col30 {
  width: 30%;
}

.col50 {
  width: 50%;
}