body {
  font-family: Arial, Helvetica, sans-serif;
}

.div-table {
  display: table;
  flex-direction: row;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: center;
  width: 100%;
}

.headingrow, .tablerow {
  display: flex;
}

.odd-row {
  background-color: gray;
}

.column1, .column2, .column3, .column4 {
  float: left;
  display: table-column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headingrow, .column1 {
  font-weight: bold;
}

.column1 {
  width: 20%;
}

.column2 {
  width: 30%;
}

.column3, .column4 {
  width: 50%;
}