body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0; 
}

main {
  width: 1900px;
  align-items: center;
  text-align: center;
  background-color: brown;
}

section {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 42px;
  font-weight: lighter;
  margin-top: 100px;
  margin-bottom: 35px;
}

.slogan {
  font-size: 14px;
  margin-bottom: 35px;
}

.our-store-button {
  color: white;
  background-color: rgb(250, 168, 159);
  font-size: 14px;
  border: none;
  border-radius: 2px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
}
  
.furniture-grid {
  display: grid;
  grid-template-areas: left center right;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px;
  column-gap: 20px;
  width: 940px;
  margin-left: 475px;
  background-color: aqua;
}

.aesthetic-image {
  display: block;
  height: 375px;
  width: 300px;
}

.chairs {
  margin-top: 75px;
}

.flowers {
  align-self: start;
}




