body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: center;
}

tr{
  border-bottom: 1px solid rgb(180, 175, 175);
}

th {
  text-align: left;
  
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col1 {
  width: 50px;
}

.first-name {
  width: 100px;
}

.last, .handle {
  width: 200px;
}


