body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0; 
  top: 0;
  bottom: 0;
}

.center {
  width: 1224px;
  margin: auto;
}

.div-items-center {
  text-align: center;
}

.section-1 {
  height: 1024px;
}

.spacing {
  margin-bottom: 35px;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
}

.buttons {
  color: white;
  background-color: #CCADAD;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* main {
  align-items: center;
  text-align: center;
}

section {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 35px;
  font-weight: lighter;
  margin-top: 100px;
  margin-bottom: 35px;
}

.small-text {
  font-size: 12px;
}



.buttons {
  color: white;
  background-color: rgb(179, 149, 147);
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.grid-display{
  display: grid;
  width: 940px;
  margin-left: 475px;
}


.furniture-grid {
  grid-template-areas: left center right;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px;
  column-gap: 20px;
}

.aesthetic-image {
  display: block;
  height: 375px;
  width: 300px;
}

.chairs {
  margin-top: 75px;
}

.flowers {
  align-self: start;
}

.two-col {
  grid-template-areas: left right;
  grid-template-columns: 1fr 1fr;
}

.who-we-are-grid {
  grid-template-rows: 200px;
}

.info {
  text-align: left;
  padding-left: 90px;
}

.quotes {
  font-size: 40px;
  margin-top: 0;
}

.credo {
  margin-bottom: 15px;
}

.about-us {
  padding-right: 70px;
  padding-top: 40px;
}

.credo-grid {
  grid-template-rows: 588px;
}

.plant-on-desk {
  width: 100%;
}

.ig-pics-row {
  align-items: center;
}

.ig-pic {
  height: 200px;
  width: 200px;
  margin-right: 5px;
}

.question-margin {
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-form {
  text-align: left;
  font-size: 13px;
}

.box-design {
  font-family: 'kumbh sans';
  background-color: rgb(218, 212, 206);
  width: 80%;
  margin-bottom: 20px;
  border: none;
}

.input-box {
  height: 30px;
  border: none;
  padding-left: 10px;
}

.flower-footer {
  width: 100%;
}
 */
