.navbar {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
}

.navbar-left{
  display: flex;
  align-items: center;
}

.fips {
  font-weight: bold;
  font-size: 27px;
  margin-left: 320px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 290px;
  list-style-type: none;
}

li {
  float: right;
  font-weight: bold;
  margin-right: 35px;
}


.shopping-bag {
  height: 18px;
  padding-right: 5px;
}


